<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div align="center">
			<h1>Sujitha Catherine Martin</h1>
		</div>
		<nav align="center">
    		<ul>
        		<li><a href="/index.html">Home</a></li>
	        	<li><a href="/Research.html">Research</a></li>
        		<li><a href="/Teaching.html">Teaching</a></li>
			<li><a href="/ProfessionalActivities.html">Professional Activities</a></li>
        		<!--<li><a href="/blog.html">Blog</a></li>-->
    		</ul>
		</nav>
		<hr>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:scmartin@ucsd.edu">email</a></li>
        		<li><a href="https://github.com/sujitha-martin">github.com/sujitha-martin</a></li>
			</ul>
		</footer>
	</body>
</html>
